body {
  background: black; }

#hd {
  background: rgba(255, 0, 0, 0.797);
  padding: 1em;
  margin: 0 0  20px; }

#ft {
  background: rgba(255, 0, 0, 0.797);
  padding: 4px;
  font-size: 0.8em;
  text-align: right; }

h1 {
  font-size: 300%;
  font-variant: small-caps;
  font-style: italic;
  color: #ffcc00;
  text-shadow: 2px 2px 2px blue; }

form {
  background-color: blue;
  width: 100%;
  float: left; }
  form fieldset {
    width: 500px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 1em;
    margin-top: 1em;
    float: left;
    -webkit-border-radius: 5px; }
    form fieldset input {
      font-size: 2em;
      width: 400px;
      margin: 10px auto;
      display: block; }
  form legend {
    font-size: 1.4em;
    margin: 0;
    display: block;
    color: #ffcc00;
    background-color: #6600cc;
    padding: 10px; }
  form div.buttons {
    float: left;
    padding: 80px 0 30px; }

.go-button {
  font-size: 174%;
  display: inline-block;
  padding: 10px 60px 12px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  -webkit-border-radius: 5px;
  position: relative;
  cursor: pointer;
  background-color: #ffcc00;
  -webkit-transform: rotate(8deg);
  margin: 0 20px; }

.go-button:hover {
  -webkit-transform: rotate(-8deg) scale(1.2);
  -webkit-transition: -webkit-transform 0.1s ease-in; }
