
html {
    background-color: #000;
}

body {
    padding: 10px;
}
header {
    background: rgba(255,0,0,0.8);
	padding: 1em;
}

header h1 {
	font-size: 300%;
	color: yellow;
    text-shadow: 1px 1px 1px #6600cc;
    font-variant: small-caps;
    font-style: italic;
}

article {
	margin-top: 1em;
}

form {
    background-color: rgba(204,0,0,1);
    overflow: hidden;
    padding: 1em;
}

form div {
    float: left;
}

form .submit {
    text-align: center;
    margin-top: 60px;
}

form .submit input {
    font-size: 174%;
    display: inline-block;
    padding: 10px 60px 12px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    -webkit-border-radius: 5px;
    position: relative;
    cursor: pointer;
    background-color: rgba(255,204,0, 0.7);
    -webkit-transform: rotate(-9deg);

}

form .submit input:hover {
    -webkit-transform: rotate(9deg) scale(1.5);
    -webkit-transition: -webkit-transform 0.1s ease-in;
}

fieldset {
	background-color: rgba(255,255,255,0.6);
	padding: 1em;
	margin-top: 1em;
    -webkit-border-radius: 5px;
}

legend {
	font-size: 146.5%;
	color: #ffcc00;
	background-color: rgba(102,0,204,0.8);
    padding: 2px 3px;
}

#loading {
    margin-top: 1em;
    background-color: rgba(255,255,255,0.3);
    padding: 1em;
      display: none;
}

#loading p {
    color: #fff;
    font-size: 184%;
}

#single-result {
    margin-top: 1em;
    display: none;
}

#single-result p {
    color: yellow;
    background-color: blue;
    font-size: 264%;
    text-align: center;

}

.result {
    color: yellow;
    display: none;
}

